<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <ul *ngFor="let c of listContent?.content" role="menuitem">
        <a (click)="selectSecond(c)">{{c.id}} - {{c.name}}</a>  
    </ul>
      </div>
</div>



