<div>
  <button class="btn btn-primary" (click)="showNotification()">Tampilkan Notification</button>
  <button class="btn btn-primary" (click)="hideNotification()">Hilangkan Notification</button>
</div>