
<app-navigationbar></app-navigationbar>

<!-- <app-index></app-index> -->

<!-- Page Content -->
<div class="container">
  
    <div class="row">
  
      <!-- <app-sidebar></app-sidebar> -->
      <div class="col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
      <!-- /.col-lg-3 -->
  
      <div class="col-lg-9">
  
        
        <div class="card card-outline-secondary my-4">
          
          <div class="card-header">
            Pao-BK
          </div>
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
  
      </div>
      <!-- /.col-lg-9 -->
  
    </div>
  
  </div>
  <!-- /.container -->
  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- static modal dialog -->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="staticModal.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
        <h4 class="modal-title">Static modal</h4>
      </div>
      <div class="modal-body">
        <h2 *ngIf="notification">{{notification}}</h2>
      </div>
    </div>
  </div>
</div>