<h1 class="my-4">Shop Name</h1>
<div class="list-group">
  <a routerLink="content/first" class="list-group-item">First</a>
  <a routerLink="content/second" class="list-group-item">Second</a>
  <a routerLink="content/third" class="list-group-item">Third</a>
  <a routerLink="content/sample-paging" class="list-group-item">sample paging</a>
  <a routerLink="transaction/second-detail" class="list-group-item">Second detail</a>
</div>